@model MVC_SQLite_test2.Models.VærData

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VærData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dato" class="control-label"></label>
                <input asp-for="Dato" class="form-control" />
                <span asp-validation-for="Dato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temperatur" class="control-label"></label>
                <input asp-for="Temperatur" class="form-control" />
                <span asp-validation-for="Temperatur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kommentar" class="control-label"></label>
                <input asp-for="Kommentar" class="form-control" />
                <span asp-validation-for="Kommentar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bruker" class="control-label"></label>
                <input asp-for="Bruker" class="form-control" />
                <span asp-validation-for="Bruker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
